.sidebar {
  width: 250px;
  background: #E1F7EF;
  padding: 20px;
}
.nav li {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.nav li.active {
  background-color: #a3e6dd;
  font-weight: bold;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 4px #0BB8A7 solid;
}
.icon {
  margin-right: 10px;
}
.theme-toggle button {
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
